{% load static %}

<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand d-flex justify-content-start align-items-center" href="#">
            <img 
                src="{% static 'images/Logo.png' %}"
                width="50"
                height="50"
                alt="Logo"
            />
            <p class="mb-0 ms-2 ml-2">Suratin</p>
        </a>
        <div class="navbar-nav ms-auto">
            <a class="nav-link" href="{% url 'homepage' %}">Home</a>
            <a class="nav-link" href="{% url 'about' %}">About</a>
            <a class="nav-link" href="{% url 'letter_index' %}">Letter</a>
        </div>
    </div>
</nav>